<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodfoods" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_welcome_page" >
        </activity>
        <activity
            android:name=".StorePage"
            android:label="@string/title_activity_store_page" >
        </activity>
        <activity
            android:name=".ProductInfoPage"
            android:label="@string/title_activity_product_info_page" >
        </activity>
        <activity
            android:name=".FaqPage"
            android:label="@string/title_activity_faq_page" >
        </activity>
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page" >
        </activity>
        <activity
            android:name=".ShoppingBagPage"
            android:label="@string/title_activity_shopping_bag_page" >
        </activity>
        <activity
            android:name=".CheckoutPage"
            android:label="@string/title_activity_checkout_page" >
        </activity>
        <activity
            android:name=".SignUpWithEmailPage"
            android:label="@string/title_activity_sign_up_with_email_page" >
        </activity>
        <activity
            android:name=".LoginWithEmailPage"
            android:label="@string/title_activity_login_with_email_page" >
        </activity>
    </application>

</manifest>
